@import "../../vars.css";
@import 'tailwindcss';

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  z-index: 2;
  margin: 0 3vw; /* vertical and horizontal*/
  color: green;
}


.navbarItem a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 0.5rem;
  transition: border-bottom 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;  /* vertically centers icon & text */
  gap: 0.5rem;          /* space between icon and label */
  cursor: pointer;
}

/* Add an underline when hovering */
.navbarItem a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background-color: rgb(247, 247, 116);
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
  border-radius: 50px;
}

.navbarItem a:hover::after {
  width: 100%;
}

.icon {
  font-size: 23px; 
  margin-right: 8px;
  vertical-align: middle;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}

